body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #00003c;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tela-login {
  height: 400px;
  width: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}

.tela-login h1 {
  text-align: center;

}

.senha, .email{
  padding-top: 20px;
  font-weight: bold;
}

.email input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none ;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
}

.senha input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none ;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
}

main a {
  color: #000056;
  margin-top: 20px;
  text-decoration: none;
}

main a:hover {
  color: #000073;
}

.button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 1px ;
  text-align: center;
  background-color: #000056;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #000073;
  color: #fff;
}

@media (max-width: 768px) {
  .tela-login {
    width: 50%; 
    height: auto; 
    padding: 20px;
  }

  .button {
    height: 50px;
  }

  input {
    height: 45px; 
  }
}

@media (max-width: 480px) {
  .tela-login {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input, .button {
    font-size: 1rem;
  }
}